ion-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    // font-family:GrapeNuts !important;
  font-size:1.5em;
  }

  ion-list-header {
    ion-label{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: left;
      // font-family:GrapeNuts !important;
    font-size:1.5em;
    }
    
  }

  // ion-textarea, ion-button, ion-input, .errorMsg{
    // font-family:GrapeNuts !important;
  // }
